extends layout

block content
  h1= title
  p Welcome to #{title}
  iframe(width="800" height="600" src="https://arcg.is/1OH8aS", frameborder="0", sandbox="allow-top-navigation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox")
